.box{
    background-color: aqua;
    height: 200px;
    width: 300px;
}

.responsive-box{
    color: aliceblue;
    background-color: red;
    width: 50%;
    height: 50%;
}

.padded-text{
    background-color: brown;
    padding: 20px
}

.custom-padding{
    background-color: aqua;
    padding: 10px 20px 10px 20px
}

.border-box{
    color: aliceblue;
    background-color: red;
    border : 2px solid black;
}

.rounded-border{
    background-color: aqua;
    border: 3px red; 
    border-style: dotted;
    border-radius: 15px;
}

.margin-text{
    margin: 30px;
}

.custom-margin{
    background-color: aqua;
    margin: 20px 40px 20px 40px;
}

.inline-element{
    background-color: aqua;
    display: inline;
}

.block-element{
    display: block;
}

.inline-block-element{
    background-color: aqua;
    display: inline-block;
}

.hidden-element{
    background-color: aqua;
    display: none;
}

.visible-element{
    background-color: aqua;
    visibility: visible;
}

.invisible-element{
    visibility: hidden;
}

.transparent-box{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.5);
}
